doctype html
html(ng-app="app", ng-controller="appController")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='initial-scale=1, minimum-scale=1, user-scalable=no, maximum-scale=1, width=device-width')

    | {% raw %}
    title(ng-bind-template="Buildbot | {{ title }}")
    | {% endraw %}

    link(rel='stylesheet', href='styles.css')

    body(ng-cloak, flex, layout="row")
      md-sidenav.md-whiteframe-z2(
        md-component-id="left",
        md-is-locked-open="$mdMedia('gt-md')"
      )
        md-toolbar(layout="row")
          md-button.nav-button
            md-icon(md-svg-icon="navicon")
        md-content(flex, layout="column")
          md-button.nav-item
            md-icon(md-svg-icon="home-outline")
            md-tooltip Home
          md-button.nav-item
            md-icon(md-svg-icon="gear-outline")
            md-tooltip Builds
          md-button.nav-item
            md-icon(md-svg-icon="toggle-outline")
            md-tooltip Settings
          md-button.nav-item
            md-icon(md-svg-icon="info-outline")
            md-tooltip Info

      div(layout="column", role="main", flex)
        md-toolbar
          div.md-toolbar-tools(ng-bind="title")
        md-content.md-padding(flex)
          h1 Hello buildbot!

      script(src="scripts.js?_#{(new Date()).getTime()}")
      script
        | angular.module("app").constant("config", {{configjson|safe}})
