{{#showNumber}}
	<a href="{{type.url.path}}">
		{{type.number}}		
	</a>
{{/showNumber}}

{{#showRunningBuilds}}
    <ul class="list current-job-js building">	    	    		
    	
			<li>
				<div class="builders-status-truncate">
					{{#currentStep}}
						{{name}}
					{{/currentStep}}
				</div>
				
                <span class="spin-icon animate-spin"></span>
            	
				<div class="clear"></div>
				{{#eta}}
					<div data-starttime="{{times.0}}" data-etatime="{{eta}}" class="percent-outer-js percent-outer">
						<span class="time-txt-js time-txt"></span>
						<div class="percent-inner-js percent-inner">							
						<div class="progressbar-overlay"></div>	
						</div>
					</div>					
				{{/eta}}
                {{^eta}}
					<div data-starttime="{{times.0}}" data-etatime="0" class="percent-outer-js percent-outer">
						<span class="time-txt-js time-txt">{{times.0}}</span>
						<div class="percent-inner-js percent-inner">
							<div class="progressbar-overlay"></div>	
						</div>
					</div>
                {{/eta}}
			</li>						
		
	</ul>	
{{/showRunningBuilds}}