.container
  .row
    form(role="search" style="width:150px")
      input(type="text" ng-model="searchQuery" class="form-control" placeholder="Search for builders")
    table.table.table-hover.table-striped.table-condensed
      tr
          th Builder Name
          th Builds
          th
            span(ng-init="help=false", ng-click="help=!help")
                i.fa.fa-question-circle.clickable(style="position:relative")
                    .popover.bottom.anim-popover(ng-if="help",
                       style="display:block;min-width:600px;left:-300px;top:30px")
                        h5.popover-title
                            | Tags filtering
                        .popover-content
                            p
                              b
                                  pre +{tag}
                              | all tags with '+' must be present in the builder tags
                            p
                              b
                                  pre -{tag}
                              | no tags with '-' must be present in the builder tags
                            p
                              b
                                  pre {tag}
                              | at least one of the filtered tag should be present
                            p url bar is updated with you filter configuration, so you can bookmark your filters!
                        .arrow
            span(ng-show="tags_filter.length==0") Tags
            span(ng-show="tags_filter.length < 5", ng-repeat="tag in tags_filter")
                span.label.label-success(ng-click="toggleTag(tag)")
                  | {{ tag }}
                | &nbsp;
            span(ng-show="tags_filter.length >= 5")
                span.label.label-success
                  | {{ tags_filter.length }} tags
            span(ng-show="tags_filter.length > 0")
                span.label.clickable.label-danger(ng-click="tags_filter = []") x
          th(style="width:20%px;") Workers
      ul(uib-pagination, total-items="(builders | filter: {name: searchQuery} | filter: isBuilderFiltered).length",
        ng-model="currentPage", class="pagination-sm", boundary-link-numbers="true",
        max-size=10, items-per-page="page_size")
      tr(ng-repeat='builder in builders | filter: {name: searchQuery} | filter: isBuilderFiltered | orderBy: "name" | limitTo: page_size :(currentPage-1)*page_size')
          td(style="width:200px")
            a(ui-sref='builder({builder: builder.builderid})')
              | {{ builder.name }}
          td
            a(ng-repeat="build in builder.builds | orderBy: '-buildid' | limitTo: '15' ", ui-sref="build({builder: builder.builderid, build: build.number})")
                script(type="text/ng-template" id="buildsummarytooltip")
                    buildsummary(buildid="build.buildid" type="tooltip")
                span.badge-status(uib-tooltip-template="'buildsummarytooltip'"
                                  tooltip-class="buildsummarytooltipstyle"
                                  tooltip-placement="auto left-bottom"
                                  tooltip-popup-delay="400"
                                  tooltip-popup-close-delay="400"
                                  ng-class="results2class(build, 'pulse')")
                    | {{ build.number }}
          td(style="width:20%;")
            span(ng-repeat="tag in builder.tags")
                span.label.clickable(ng-click="toggleTag(tag)", ng-class="isTagFiltered(tag) ? 'label-success': 'label-default'")
                  | {{ tag }}
                | &nbsp;
          td(style="width:20%;")
            span(data-ng-repeat="worker in builder.workers")
                a(ui-sref='worker({worker: worker.workerid})')
                    span.badge-status(title="{{worker.name}}" ng-class="connected2class(worker, 'pulse')" ng-if="!settings.show_workers_name.value")
                        .badge-inactive {{worker.workerid}}
                        .badge-active {{worker.name}}
                    span.badge-status(title="{{worker.name}}" ng-class="connected2class(worker, 'pulse')" ng-if="settings.show_workers_name.value")
                      | {{ worker.name }}
  .row
      .form-group
          label.checkbox-inline
              input(type="checkbox" name="{{settings.show_old_builders.name}}" ng-model="settings.show_old_builders.value")
              | {{settings.show_old_builders.caption}}
