.row
    h4 Builds:
    span(ng-hide='builds.length>0')
      | None
    table.table.table-hover.table-striped.table-condensed(ng-show='builds.length>0')
      tr
        td(width='200px', ng-show="builders") Builder
        td(width='100px') #
        td(width='150px') Started At
        td(width='150px') Duration
        td(width='200px') Owners
        td(width='150px') Worker
        td Status
      tr(ng-repeat='build in builds | orderBy:"-started_at"')
          td(ng-show="builders") {{ builders.get(build.builderid).name }}
          td
            a.bb-buildid-link(ui-sref="build({builder:build.builderid, build:build.number})")
              script(type="text/ng-template" id="buildsummarytooltip")
                buildsummary(buildid="build.buildid" type="tooltip")
              span.badge-status(uib-tooltip-template="'buildsummarytooltip'"
                                tooltip-class="buildsummarytooltipstyle"
                                tooltip-placement="auto left-bottom"
                                tooltip-popup-delay="400"
                                tooltip-popup-close-delay="400"
                                ng-class="results2class(build, 'pulse')")
                span.badge-inactive
                  | {{build.number}}
                span.badge-active {{results2text(build)}}
          td
            span(title="{{build.started_at | dateformat:'LLL'}}")
              | {{build.started_at | timeago }}
          td
            span(ng-show="build.complete", title="{{(build.complete_at - build.started_at)| durationformat:'LLL' }}")
              | {{(build.complete_at - build.started_at)| duration }}
          td
            span(ng-repeat="owner in build.properties.owners[0]") {{owner}}
          td
            a(ui-sref='worker({worker: build.workerid})')
              | {{build.properties.workername[0]}}
          td
            ul.list-inline
              li
                | {{build.state_string}}
