md-sidenav.md-whiteframe-z1(
  md-component-id="left",
  md-is-locked-open="$mdMedia('gt-sm')"
)
    md-toolbar(layout="row")
      md-icon.logo(md-svg-icon="navicon")
    md-content.nav-item-container(flex)
      md-button.nav-item(
        ui-sref="{{ item.name }}",
        ng-repeat="item in sidenav.getItems()|orderBy:'order'",
        ng-class="{highlighted: sidenav.isHighlighted(item.name)}",
      )
        md-icon(md-svg-icon="{{ item.icon }}")
        span.nav-item-caption {{ item.caption}}
