{{#showNumber}}
    {{data.name}}
	<a href="{{data.url.path}}">
		{{data.number}}
	</a>
{{/showNumber}}

{{#showRunningBuilds}}
    <ul class="list current-job-js building">
    	
			<li>
				<div class="builders-status-truncate">
					{{#currentStep}}
						{{name}}
					{{/currentStep}}
				</div>
				
                <span class="spin-icon animate-spin"></span>
            	
				<div class="clear"></div>
				{{#eta}}
					<div data-starttime="{{times.[0]}}" data-etatime="{{eta}}" class="percent-outer-js percent-outer">
						<span class="time-txt-js time-txt"></span>
						<div class="percent-inner-js percent-inner">							
						<div class="progressbar-overlay"></div>	
						</div>
					</div>					
				{{/eta}}
                {{^eta}}
					<div data-starttime="{{times.[0]}}" data-etatime="0" class="percent-outer-js percent-outer">
						<span class="time-txt-js time-txt">{{times.[0]}}</span>
						<div class="percent-inner-js percent-inner">
							<div class="progressbar-overlay"></div>	
						</div>
					</div>
                {{/eta}}
			</li>						
		
	</ul>
{{/showRunningBuilds}}

{{#currentBuildRevision}}
    {{#each data.sourceStamps}}
        <a href="{{repository}}">{{codebase}}</a> /
        {{branch}} /
        {{#if revision_short}}
            <a href="{{repository}}/changeset/{{revision}}">{{revision_short}}</a>
        {{else}}
            Calculating....
        {{/if}}
        <br/>
    {{/each}}
{{/currentBuildRevision}}

{{#pendingBuildWait}}
    <span class="waiting-time-js"></span>
{{/pendingBuildWait}}

{{#removeBuildSelector}}
    <input class="fi-js fi" type="checkbox" name="cancelselected" value="{{data.brid}}"/>
	<br/>
	<a title="Remove this build" class="force-individual-js delete-icon" href="#"></a>
{{/removeBuildSelector}}