{{#revisionCell}}
    <ul class="revision">
    {{#each sourceStamps}}
        {{#if ../history_build}}
            <li class="recent-build-icon-spacer">
        {{else}}
            <li>
        {{/if}}
        <a href="{{display_repository}}">{{codebase}}</a> /
        {{branch}} /
        {{#if revision_short}}
            <a href="{{display_repository}}/changeset/{{revision}}">{{revision_short}}</a>
        {{else}}
            N/A
        {{/if}}
        {{#if ../history_build}}
            <span class="recent-build-icon tooltip" title="Built at old revision">
            </span>
        {{/if}}
        </li>
    {{/each}}
    </ul>
{{/revisionCell}}


{{#buildID}}
    {{data.name}}
	<a href="{{data.url.path}}">
		#{{data.number}}
	</a>
{{/buildID}}

{{#buildStatus}}
    <span class="hide">{{build.text.[0]}}</span>
    <span class="status-text">
     {{#build.text}}
        {{.}}
     {{/build.text}}
    </span>
{{/buildStatus}}

{{#slaveName}}
    {{#if url}}
        <a href="{{url}}">{{name}}</a>
    {{else}}
        {{name}}
    {{/if}}
{{/slaveName}}

{{#slaveStatus}}
	{{#showSpinIcon}}
		<a class="more-info popup-btn-json-js" href="#">
			{{showStatusTxt}}
		</a>
		<span title="Running" class="spin-icon animate-spin pull-bottom"></span>
	{{/showSpinIcon}}
	{{^showSpinIcon}}
		{{showStatusTxt}}
	{{/showSpinIcon}}
{{/slaveStatus}}

{{#buildProgress}}
    <ul class="list current-job-js building">
    	{{#each currentBuilds}}
			<li>
				<div class="builders-status-truncate"><a href="{{url.path}}">{{number}}</a>
					{{#currentStep}}
						{{name}}
					{{/currentStep}}
				</div>

                <span class="spin-icon animate-spin"></span>

				<div class="clear"></div>
				{{#if eta}}
					<div data-starttime="{{times.[0]}}" data-etatime="{{eta}}" class="percent-outer-js percent-outer">
						<span class="time-txt-js time-txt"></span>
						<div class="percent-inner-js percent-inner">
						<div class="progressbar-overlay"></div>
						</div>
					</div>
                {{else}}
					<div data-starttime="{{times.[0]}}" data-etatime="0" class="percent-outer-js percent-outer">
						<span class="time-txt-js time-txt">{{times.[0]}}</span>
						<div class="percent-inner-js percent-inner">
							<div class="progressbar-overlay"></div>
						</div>
					</div>
                {{/if}}
			</li>
		{{/each}}
	</ul>

    {{#if showPending}}
        {{#if pendingBuilds}}
            <a class="more-info popup-btn-js mod-1" href="#" data-builderName="{{builderName}}"> {{pendingBuilds}} Pending jobs </a>
        {{/if}}
    {{/if}}
{{/buildProgress}}