.panel.panel-default(ng-class="results2class(buildsummary.build)", style="margin-bottom:0px")
    .panel-heading
        .flex-row(ng-if="buildsummary.build.started_at")
            .flex-grow-1
                .btn.btn-xs.btn-default(ng-click="buildsummary.toggleFullDisplay()", title="Expand all step logs")
                    i.fa.fa-chevron-circle-right.rotate(ng-class="{'fa-rotate-90':buildsummary.fulldisplay}")
                .btn.btn-xs.btn-default(ng-click="buildsummary.toggleDetails()", title="Show steps according to their importance")
                    i.fa.fa-expand
                    | {{buildsummary.levelOfDetails()}}
                | #{' '}
                span(ng-if="buildsummary.prefix") {{buildsummary.prefix}}#{' '}
                a(ui-sref="build({builder:buildsummary.build.builderid, build:buildsummary.build.number})")
                  | {{buildsummary.builder.name}}/{{buildsummary.build.number}}#{' '}
                span(ng-if="buildsummary.reason") | {{buildsummary.reason}}
            .flex-grow-1.text-right
                span(ng-show="buildsummary.build.complete")
                    | {{(buildsummary.build.complete_at - buildsummary.build.started_at)| durationformat:'LLL' }}
                span(ng-show="!buildsummary.build.complete")
                    | {{(buildsummary.now - buildsummary.build.started_at)| durationformat:'LLL' }}
                span
                  | #{' '}{{buildsummary.build.state_string}}#{' '}
                .label.bb-build-result(ng-class="results2class(buildsummary.build)")
                  | {{results2text(buildsummary.build)}}
                span(ng-if="buildsummary.parentbuild")
                    | #{' '}
                    a.label(ng-class="results2class(buildsummary.parentbuild)",
                    ui-sref="build({builder:buildsummary.parentbuilder.builderid, build:buildsummary.parentbuild.number})")
                          | {{buildsummary.parentrelationship}}:
                          | {{buildsummary.parentbuilder.name}}/{{buildsummary.parentbuild.number}}
        .flex-row(ng-if="!buildsummary.build.started_at")
          | loading build details...
    ul.list-group
      li.list-group-item(ng-if="buildsummary.isStepDisplayed(step)"
                         ng-repeat="step in buildsummary.steps | orderBy: ['stepid']")
        div(ng-click="step.fulldisplay=!step.fulldisplay")
            span.pull-right(ng-if="step.started_at")
              span(ng-show="step.complete")
                  | {{ step.duration| durationformat:'LLL' }}
              span(ng-show="!step.complete")
                  | {{ buildsummary.now - step.started_at| durationformat:'LLL' }}
              | #{' '}{{step.state_string}}
            span.badge-status(ng-class="results2class(step, 'pulse')")
              | {{step.number}}
            | #{' '}
            i.fa.fa-chevron-circle-right.rotate(ng-class="{'fa-rotate-90':step.fulldisplay}", ng-if="step.logs.length || step.buildrequests.length || (step.other_urls.length && !show_urls)")
            | #{' '} {{step.name}}
            span(ng-if="step.buildrequests.length") #{' '} {{step.builds.length}} builds, {{step.buildrequests.length - step.builds.length}} pending builds
        ul(ng-if="show_urls")
          li(ng-repeat="url in step.other_urls")
            a(ng-href="{{url.url}}", target="_blank") {{url.name}}

        div.anim-stepdetails(ng-if="step.fulldisplay")
          ul(ng-if="!show_urls")
            li(ng-repeat="url in step.other_urls")
              a(ng-href="{{url.url}}", target="_blank") {{url.name}}
          ul(ng-if="step.buildrequests.length>trigger_step_page_size",uib-pagination,total-items="step.buildrequests.length",
            ng-model="step.buildrequestsCurrentPage",class="pagination-sm" boundary-link-numbers="true",
            max-size=10, items-per-page="trigger_step_page_size", style="margin-left:30px;margin-bottom:0px")
          ul.list-unstyled
            li(ng-repeat="br in step.buildrequests | limitTo: trigger_step_page_size :(step.buildrequestsCurrentPage-1)*trigger_step_page_size")
              buildrequestsummary(style="margin-left:30px;margin-top:8px",buildrequestid='br.buildrequestid')
          logpreview(ng-repeat="log in buildsummary.getLogs(step)", log="log",
                     fulldisplay="step.logs.length == 1 || buildsummary.expandByName(log)",
                     builderid="buildsummary.build.builderid", buildnumber="buildsummary.build.number",
                     step="step")
