.container-fluid
  %ul.breadcrumb
    %li
      %a{href:"#/builders"}Builders
    %span.divider #{"/"}
    %li
      %a{href:"#/builders/"+b.builderName} #{ b.builderName }
    %span.divider #{"/"}
    %li.active
      %a{href:"#/builders/"+b.builderName+"/"+number} Build ##{number}
    .btn-group.pull-right
      .btn
        %i.icon-question-sign{alt:"reason"}>
        = b.reason
      .btn
        %i.icon-hdd{alt:"buildslave"}>
        %a{href:"#/slaves/"+b.slave}= b.slave
      :if isFinished()
        .btn{class:btn_class(b.results)} #{b.text.join(" ")}

  .row-fluid{style:"margin-bottom:15px;margin-top:-15px"}
    .pull-right
      %Strong Actions:
      :if isFinished()
        %button.btn.btn-info{data-dojo-attach-point:"onclick:doRebuild"}> Promote
        %button.btn.btn-info{data-dojo-attach-point:"onclick:doRebuild"} Rebuild
  .row-fluid
    .span5
      :if !isFinished()
        .well
          %h3 Build In Progress:
          :if b.when_time
            %p ETA: #{ b.when_time } [ #{ when } ]
          %li.form-inline> #{b.currentStep.name}, #{b.currentStep.text.join(" ")}
             &nbsp;
             .btn.btn-inverse.btn-mini.pull-left{data-dojo-attach-point:"stop_build_node"} Stop Build
      .well
          %h3 Steps and Logfiles:
          %ol
            :each step in b.steps
              %li
                .breadcrumb.step-sts{data-dojo-attach-event:"onclick:toggleLogs"}
                  #{step.name}
                  :if step.isFinished
                    .btn.pull-right{class:btn_class(step.results[0])} #{step.text.join(" ")}
                %ol{style:stepLogsDisplayStyle(step)}
                  :if step.logs.length === 0
                    %div= "- no logs -"
                  :each i, urls in step.logs
                    %li
                      %a{href:urls[1]} #{urls[0]}
                  :each i, urls in step.urls
                    %li
                      %a{href:urls[1]} #{urls[0]}
    .span1
    .span6.well
      %h3 build properties
      .div{data-dojo-attach-point:"propertiesgrid_node"}
