div
  div(ng-repeat="build in builds")
      buildsummary(buildid="build.buildid", condensed="true")
  div(ng-if="!builds")
    .panel.panel-default.results_PENDING(style="margin-bottom:0px;opacity:.7")
      .panel-heading.no-select
          .flex-row(ng-if="buildrequest.$resolved")
              .flex-grow-1
                a(ui-sref="builder({builder:buildrequest.builderid})")
                    | {{builder.name}}
                | #{' '}/ buildrequests /#{' '}
                a(ui-sref="buildrequest({buildrequest:buildrequest.buildrequestid})")
                    | {{buildrequest.buildrequestid}}
                | #{' '}| {{buildset.reason}}
              .flex-grow-1.text-right
                  div(ng-if="!buildrequest.claimed")
                      span
                        | waiting for available worker#{' '}
                      .label.results_PENDING
                        | ...
                  div(ng-if="buildrequest.claimed")
                    span
                      | #{' '}{{buildrequest.state_string}}#{' '}
                    .label(ng-class="results2class(buildrequest)")
                      | {{results2text(buildrequest)}}
          .flex-row(ng-if="!buildrequest.$resolved")
            | loading buildrequests details...
