div.project-info(layout="row")
  h1(flex) {{ home.title }}
  md-button.md-raised.md-primary(ng-href="{{ home.titleURL }}") Homepage
div.dashboard-controls(layout="row")
  span(flex)
  div
    md-button.md-primary(
      ng-show="!home.editing_panels",
      ng-click="home.edit_panels(true)") edit panels
    md-button.md-primary(
      ng-show="home.editing_panels",
      ng-click="home.edit_panels(false)") lock panels

div.dashboard(ng-sortable="home.sortable_settings")
  panel(
    bind="panel"
    ng-repeat="panel in home.panels",
    locked="home.settings.lock_panels.value",
    )
