.console
    .load-indicator(ng-hide='c.builds.$resolved && c.changes.$resolved && c.buildrequests.$resolved && c.buildsets.$resolved')
        .spinner
            i.fa.fa-circle-o-notch.fa-spin.fa-2x
            p loading
    div(ng-show="c.changes.$resolved && c.filtered_changes.length==0")
        p No changes. Console view needs changesource to be setup, and
            a(href="#changes") changes
            | to be in the system.

    table.table.table-striped.table-bordered(ng-hide="c.filtered_changes.length==0" ng-class="{'table-fixedwidth': c.isBigTable()}")
        tr.first-row
            th.row-header(ng-style="{'width': c.getRowHeaderWidth()}")
                i.fa.fa-plus-circle.pull-left(ng-click='c.openAll()' uib-tooltip='Open information for all changes' uib-tooltip-placement='right')
                i.fa.fa-minus-circle.pull-left(ng-click='c.closeAll()' uib-tooltip='Close information for all changes' uib-tooltip-placement='right')
            th.column(ng-repeat="builder in c.builders")
                span.builder(ng-style="{'margin-top': c.getColHeaderHeight()}")
                    a(ng-href='#/builders/{{ builder.builderid }}'
                      ng-bind='builder.name')
        tr.tag_row(ng-repeat="tag_line in c.tag_lines")
            td.row-header
            td(ng-repeat="tag in tag_line" colspan="{{tag.colspan}}")
                span(uib-tooltip='{{ tag.tag }}' ng-style='{width: tag.colspan*50}') {{tag.tag}}
        tr(ng-repeat="change in c.filtered_changes | orderBy: ['-when_timestamp'] track by change.changeid")
            td
                changedetails(change="change")
            td.column(ng-repeat="builder in change.builders"
                      title="{{builder.name}}")
                span(ng-repeat="build in builder.builds | orderBy: ['number']")
                    script(type="text/ng-template" id="buildsummarytooltip")
                        buildsummary(buildid="build.buildid" type="tooltip")
                    span.badge-status(ng-if='build.buildid'
                                      uib-tooltip-template="'buildsummarytooltip'"
                                      tooltip-class="buildsummarytooltipstyle"
                                      tooltip-placement="auto left-bottom"
                                      tooltip-popup-delay="400"
                                      tooltip-popup-close-delay="400"
                                      ng-class="c.results2class(build, 'pulse')"
                                      ng-click='c.selectBuild(build)')
                        | {{ build.number }}
