.change-row(ng-style="{height: 10 + (cr.change.maxbuilds*20)}")
    .col-15
        .name
            .change-avatar
                img(ng-src="avatar?email={{cr.change.author_email}}")
            i.fa.fa-chevron-circle-right(ng-click='cr.toggleInfo()' ng-class="{'fa-rotate-90': !cr.infoIsCollapsed}")
            span(uib-tooltip='{{ cr.change.comments }}' uib-tooltip-placement='top')
                a(ng-if='cr.change.author_email'
                  ng-href='mailto: {{cr.change.author_email}}'
                  target='_blank')
                  |  {{ cr.change.author_name }}
                span(ng-if='!cr.change.author_email')  {{ cr.change.author }}
    .col-85
        .builds
            span.build(ng-repeat="builder in change.builders | orderBy: ['name'] track by builder.builderid"
                       ng-style="{'width': cr.cellWidth}", title="{{builder.name}}")
                a(ng-repeat="build in builder.builds | orderBy: ['started_at']")
                    .badge-status(ng-if='build.buildid'
                                  ng-class="cr.results2class(build, 'pulse')"
                                  ng-click='cr.selectBuild(build)')
                        | {{ build.number }}
    .col.info-collapse(ng-hide='cr.infoIsCollapsed')
        // Comment
        .info
            i.fa.fa-comment-o
            p {{ cr.change.comments }}
        // Link to the change
        .info
            i.fa.fa-link
            p
                a(ng-href='{{ cr.change.revlink }}' target='_blank') {{ cr.change.revision | limitTo: 10 }}
        // Changed files
        .info
            i.fa.fa-file-o
            p(ng-repeat='file in cr.change.files')
                | {{ file }}
