div.builder-meta(layout="row")
  div.status
    build-status(build="builder.lastBuild")
  h2.name(flex)
    | {{ builder.info.name }}
  md-menu.force-build(md-position-mode="target-right target")
    md-button.md-primary.md-raised(
      md-theme="default",
      ng-disabled="!builder.forceschedulers.length",
      ng-click="$mdOpenMenu()") Force Build
    md-menu-content(width="4")
      md-menu-item
        md-button(disabled) FORCE BUILD
      md-menu-divider
      md-menu-item(ng-repeat="scheduler in builder.forceschedulers")
        md-button(ng-click="builder.triggerSchedulerDialog(scheduler, $event)") {{ scheduler.name }}

md-tabs.builder-tabs(
  md-no-ink,
  md-border-bottom,
  md-center-tabs="false",
  md-autoselect="builder.autoSelect",
  md-selected="builder.selectedTab",
)
  md-tab(label="builds")
  md-tab(label="info")
  md-tab(ng-disabled="!false", ng-if="builder.buildTabs.length > 0")
    md-tab-label
      md-icon.tab-divider(md-svg-icon="arrow-down")
  md-tab.build-tab(label="Build #{{ number }}", ng-repeat="number in builder.buildTabs")
div.builder-content(ui-view="")
