.container
    .row
        table.table.table-hover.table-striped.table-condensed
            tr
                th Active
                th Name
                th Recent Builds
                th Workers
                th Last Active
            tr(ng-repeat='master in masters | orderBy: ["-active", "name"]', ng-hide="maybeHideMaster(master)")
                td
                    i.fa.fa-check.text-success(ng-show="master.active")
                    i.fa.fa-times.text-danger(ng-hide="master.active")
                td {{ master.name}}
                td
                    a(ng-repeat="build in master.builds | orderBy: '-number' | limitTo: '20' ", ui-sref="build({builder: build.builderid, build: build.number})")
                        script(type="text/ng-template" id="buildsummarytooltip")
                            buildsummary(buildid="build.buildid" type="tooltip")
                        span.badge-status(uib-tooltip-template="'buildsummarytooltip'"
                                          tooltip-class="buildsummarytooltipstyle"
                                          tooltip-placement="auto left-bottom"
                                          tooltip-popup-delay="400"
                                          tooltip-popup-close-delay="400"
                                          ng-class="results2class(build, 'pulse')")
                            | {{ builders.get(build.builderid).name }}/{{ build.number }}
                td
                    span(ng-repeat="worker in master.workers | orderBy : 'name'")
                        a(ui-sref='workers({worker: workerid})')
                            span.badge-status.results_SUCCESS
                              | {{ worker.name }}
                td {{master.last_active | timeago}}
